@model IEnumerable<Song>
@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<table id="SonglistTable" class="table table-bordered table-striped">
    <tr>
        <th>
            Sang ID
        </th>
        <th>
            Sang Navn
        </th>
        <th>
            Genre ID
        </th>
        <th>
            Genre Navn
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var Item in Model)
    {
        <tr class="Song" data-songid="@Item.SongID">
            <td>
                @Item.SongID
            </td>
            <td class="SongTitle" data-confirm="Ønsker du virkelig at slette sangen : @Item.SongTitle ?">
                @Item.SongTitle
            </td>
            <td>
                @Item.GenreID
            </td>
            <td>
                @Item.Genre.GenreTitle
            </td>
            <td>
                <input id="hdnDrink" type="hidden" value="@Item.SongID" />
                <span class="glyphicon glyphicon-pencil edit-order" style="cursor: pointer"></span>&nbsp;
                <span class="glyphicon glyphicon-comment divider" style="cursor: pointer"></span>&nbsp;
                <span class="glyphicon glyphicon-remove remove-order" style="cursor: pointer"></span>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // ---------------------------------------------------------------------------------------
            // Start på Paging
            // ---------------------------------------------------------------------------------------
            $(".Song").AddPageComponentsDynamic(
                {
                    Number_Of_Paging_Elements_On_Side: 3,
                    MaxNumberOfPagerPagesInPagerSlider: 4,
                    PagerClassName: "Song",
                    PagerStyleTable: false,
                    UsePagerElementOnSideSelector: true,
                    PagerStyleName: "Current_Highlight",
                }
            );
            // ---------------------------------------------------------------------------------------
            // Slut på Paging
            // ---------------------------------------------------------------------------------------

            var $tableList = $('#SongListTable');

            $tableList.delegate('.divider', 'click', function () {
                var SongID = $(this).closest("tr").attr('data-songid');
                window.location = "/Song/SongDetails/" + SongID
            });

            $tableList.delegate('.edit-order', 'click', function () {
                var SongID = $(this).closest("tr").attr('data-songid');
                window.location = "/Song/EditSong/" + SongID
            });

            $tableList.delegate('.remove-order', 'click', function (e) {
                if (!confirm($(this).closest('tr').find(".SongTitle").attr('data-confirm'))) {
                    return;
                }

                var SongID = $(this).closest("tr").attr('data-songid');
                window.location = "/Song/DeleteSong/" + SongID
            });
        });
    </script>
}

